
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

h1{
        font-family: "Sonsie One", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }
      


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/image\ 1.png");
    text-align: center;
}

header {
    background-image:url("img/image\ 2.png");
    padding: 20px;
    font-size: 24px;
    font-weight:bold;
    font-style: italic;
    
}

  
.logo{
    align-items: center;

}

.promo{

}
.botones{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Sono", serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    font-variation-settings:
      "MONO" 1;

}
nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p{
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
  
}